@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    margin: 0;
    background: #eee;
    font-family: Basely, serif;
}
.header{
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: monospace;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
}

.links {
    justify-content: flex-start;
    margin: 5px;
}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
   
}

ul {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    color: midnightblue;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.profile-image{
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
    font-size: 15px;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

button {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    padding: 8px 24px;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}