.header {
    font-family: monospace;
    background: papayawhip;

    /*mine*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: wheat;
    padding:  4px 32px;
}

ul {
    list-style-type: none;
    gap: 8px;
    display: flex;
    margin: 0;
    padding: 0;


}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
}


